#fondo{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: -1;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic', sans-serif;
  /*background-color: #3498db;*/
}

h1, h2, h3, h4, h5 ,h6{
  font-weight: 200;
  color: white;
}

a{
  text-decoration: none;
  color: #fff;
}

p, li, a{
  font-size: 14px;
  color: #fff;
  font-family: 'Century Gothic', sans-serif;
}

fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

/* GRID */

.twelve { width: 100%; }
.eleven { width: 91.53%; }
.ten { width: 83.06%; }
.nine { width: 74.6%; }
.eight { width: 66.13%; }
.seven { width: 57.66%; }
.six { width: 49.2%; }
.five { width: 40.73%; }
.four { width: 32.26%; }
.three { width: 23.8%; }
.two { width: 15.33%; }
.one { width: 6.866%; }

/* COLUMNS */

.col {
	display: block;
	float:left;
	margin: 0 0 0 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.container{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.row{
  padding: 20px 0;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.wrapper{
  width: 100%;
  margin: 30px 0;
}

/* STEPS */

.steps{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #0A0A0A;
  border-radius:0.4em;
  border:1px solid #0A0A0A;
  text-align: center;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 5px 5px 10px rgba(255,255,255,0.1);
}


.steps li{
  display: inline-block;
  margin: 20px;
  color: #ccc;
  padding-bottom: 5px;
}

.steps li.is-active{
  border-bottom: 1px solid #3498db;
  color: #3498db;
}

/* FORM */



.form-wrapper .section{
  padding: 0px 20px 30px 20px;
  border-top:1px solid #19191a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #0f0f0f;
  border-radius:0.4em;
  border:1px solid #0A0A0A;
  opacity: 0;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  position: absolute;
  width: 100%;
  min-height: 300px;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 5px 5px 10px rgba(255,255,255,0.1);
}

.form-wrapper .section{

    background:#0f0f0f;
}

.form-wrapper .section h3{
  margin-bottom: 30px;
}

.form-wrapper .section.is-active{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.form-wrapper .button{
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background-color: #3498db;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.form-wrapper .submit{
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background-color: #E11706;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/*.up{
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background-color: #E11706;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  position: absolute;
  right: 20px;
  bottom: 20px;
}*/

.atras{
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background-color: #06B819;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.volver a{

  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background-color: #FF502B;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  position: absolute;
  left: 20px;
  bottom: 20px;
}


.form-wrapper .submit{
  border: none;
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*
.up{
  border: none;
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/

.form-wrapper input[type="text"],
.form-wrapper input[type="password"]{
  display: block;
  padding: 10px;
  margin: 10px auto;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  width: 50%;
  outline: none;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #066AB8;
}



.form-wrapper input[type="text"]:hover,
.form-wrapper input[type="password"]:hover,
label:hover ~ .form-wrapper input[type="text"],
label:hover ~ .form-wrapper input[type="password"] {
  background:#27292c;
  border:1px solid #066AB8;
}

.form-wrapper input[type="radio"]{
  display: none;
}

.form-wrapper input[type="radio"] + label{
  display: block;
  border: 1px solid #CCC;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.form-wrapper input[type="radio"] + label:before{
  content: "✔";
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background-color: #3498db;
  color: #fff;
  display: none;
}

.form-wrapper input[type="radio"]:checked + label:before{
  display: block;
}

.form-wrapper input[type="radio"] + label h4{
  margin: 15px;
  color: #ccc;
}

.form-wrapper input[type="radio"]:checked + label{
  border: 1px solid #3498db;
}

.form-wrapper input[type="radio"]:checked + label h4{
  color: #3498db;
}

.form-wrapper .mensaje p{
  color: #fff;
}

.form-wrapper .mensaje .comprobado{
  position:absolute;
  right:120px;
  top:78px;
}

.form-wrapper .mensaje2 .comprobado2{
  position:absolute;
  right:120px;
  top:126px;
}

.form-wrapper .mensaje3 .comprobado3{
  position:absolute;
  right:120px;
  top:174px;
}

.form-wrapper .mensaje4 .comprobado4{
  position:absolute;
  right:120px;
  top:78px;
}

.form-wrapper .mensaje5 .comprobado5{
  position:absolute;
  right:120px;
  top:126px;
}

.form-wrapper .mensaje6 .comprobado6{
  position:absolute;
  right:120px;
  top:174px;
}

.form-wrapper .mensaje7 .comprobado7{
  position:absolute;
  right:120px;
  top:78px;
}

.form-wrapper .mensaje8 .comprobado8{
  position:absolute;
  right:120px;
  top:126px;
}

.form-wrapper .mensaje9 .comprobado9{
  position:absolute;
  right:120px;
  top:174px;
}

.form-wrapper .mensaje p{
  visibility: hidden;
  position: absolute;

  left: 10px;
  right: 10px;
  bottom: 15px;
}

.form-wrapper .mensaje:hover p{
  visibility: visible;
}

.form-wrapper .mensaje2 p{
  visibility: hidden;
  position: absolute;

  left: 10px;
  right: 10px;
  bottom: 15px;
}

.form-wrapper .mensaje2:hover p{
  visibility: visible;
}

.form-wrapper .mensaje3 p{
  visibility: hidden;
  position: absolute;

  left: 10px;
  right: 10px;
  bottom: 15px;
}

.form-wrapper .mensaje3:hover p{
  visibility: visible;
}

.form-wrapper .mensaje4 p{
  visibility: hidden;
  position: absolute;

  left: 10px;
  right: 10px;
  bottom: 15px;
}

.form-wrapper .mensaje4:hover p{
  visibility: visible;
}

.form-wrapper .mensaje5 p{
  visibility: hidden;
  position: absolute;

  left: 10px;
  right: 10px;
  bottom: 15px;
}

.form-wrapper .mensaje5:hover p{
  visibility: visible;
}

.form-wrapper .mensaje6 p{
  visibility: hidden;
  position: absolute;

  left: 10px;
  right: 10px;
  bottom: 15px;
}

.form-wrapper .mensaje6:hover p{
  visibility: visible;
}

.form-wrapper .mensaje7 p{
  visibility: hidden;
  position: absolute;

  left: 10px;
  right: 10px;
  bottom: 15px;
}

.form-wrapper .mensaje7:hover p{
  visibility: visible;
}

.form-wrapper .mensaje8 p{
  visibility: hidden;
  position: absolute;

  left: 10px;
  right: 10px;
  bottom: 15px;
}

.form-wrapper .mensaje8:hover p{
  visibility: visible;
}

.form-wrapper .mensaje9 p{
  visibility: hidden;
  position: absolute;

  left: 10px;
  right: 10px;
  bottom: 15px;
}

.form-wrapper .mensaje9:hover p{
  visibility: visible;
}


/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Open sans';
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;

  background: #E25151;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  float: right;

  box-sizing: border-box;
    transition: all 500ms ease;
}

#btnClose:hover
{
    background: rgba(0,0,0,0);
    color: #E25151;
    box-shadow: inset 0 0 0 3px #E25151;
}

.form-wrapper .mensaje7 span {
  display:block;
  float:left;
  color:#0d93ff;
  padding-top:8px;
}